body{
    width:100vw;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    padding:0 .5rem;
}

header img{
    width:20%;
    margin:3rem auto;
    display:block;
}
nav{
    margin: 1rem auto;
}
nav ul{
    display: flex;
    justify-content: space-around;
}

nav li{
    display:inline-block;
}

section{
    display:flex;
    width: 100%;
    flex-direction: row;
    margin:2rem auto;
}
.info{
    justify-content: space-between;
}

article{
    flex:1;
}


footer{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 10%;
}
footer div{
    flex:1;
}